@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.Login_title_cont{
    display: flex;
    gap: 17.5rem;
    font-size: 30px;
}
.Login_title{
    margin-top: 50px;
    color: #fff;
    font-weight: 700;
}


.Login_back{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4.5rem;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(right, #0074b4, #3399ff, #0074b4, #3399ff);
}
.Initial_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
    flex-direction: row;
    
}

/* ::selection {
    background: #fa4299;
    color: #fff;
} */

.wrapper {
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}


.wrapper .title-text {
    display: flex;
    width: 200%;
}

.wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: black;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}
.slide-controls label.signup {
    color: #000;
}
.slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #0074b4, #3399ff);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="radio"] {
    display: none;
}
#signup:checked~.slider-tab {
    left: 50%;
}
#signup:checked~label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
}
#signup:checked~label.login {
    color: #000;
}

#login:checked~label.signup {
    color: #000;
}
#login:checked~label.login {
    cursor: default;
    user-select: none;
}
.wrapper .form-container {
    width: 100%;
    overflow: hidden;
}
.form-container .form-inner {
    display: flex;
    width: 200%;
}
.form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}
.form-inner form .field input:focus {
    border-color:#3399ff;
    /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
}
form .field input:focus::placeholder {
    color: #b3b3b3;
}
.form-inner form .pass-link {
    margin-top: 5px;
}
.form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
    color: #2563EB;
    text-decoration: none;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
    text-decoration: underline;
}
form .btn {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #0074b4, #3399ff, #0074b4, #3399ff);
    border-radius: 5px;
    transition: all 0.4s ease;
    ;
}
form .btn:hover .btn-layer {
    left: 0;
}
form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

/* Admin Styles */
.wrapper_admin {
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper_admin .title-text_admin {
    display: flex;
    width: 200%;
}
.wrapper_admin .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: black;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper_admin .slide-controls_admin {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.wrapper_admin .form-container_admin {
    width: 100%;
    overflow: hidden;
}
.slide-controls_admin .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}

.slide-controls_admin label.signup_admin {
    color: #000;
}
.slide-controls_admin .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #0074b4, #3399ff);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#signup_admin:checked~.slider-tab {
    left: 50%;
}

#signup_admin:checked~label.signup_admin {
    color: #fff;
    cursor: default;
    user-select: none;
}

#signup_admin:checked~label.login_admin {
    color: #000;
}

#login_admin:checked~label.signup_admin {
    color: #000;
}

#login_admin:checked~label.login_admin {
    cursor: default;
    user-select: none;
}

#signup:checked~.slider-tab {
    left: 50%;
}
#signup:checked~label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
}
#signup:checked~label.login {
    color: #000;
}

#login:checked~label.signup {
    color: #000;
}
#login:checked~label.login {
    cursor: default;
    user-select: none;
}


.wrapper_admin .form-container_admin {
    width: 100%;
    overflow: hidden;
}

.form-container_admin .form-inner_admin{
    display: flex;
    width: 200%;
}

.form-container_admin .form-inner_admin form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner_admin form .field_admin {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.form-inner_admin form .field_admin input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.form-inner_admin form .field_admin input:focus {
    border-color:#3399ff;
    /* box-shadow: inset 0 0 3px #fb6aae; */
}

.form-inner_admin form .field_admin input::placeholder {
    color: #999;
    transition: all 0.3s ease;
}

form .field_admin input:focus::placeholder {
    color: #b3b3b3;
}

.form-inner_admin form .pass-link_admin {
    margin-top: 5px;
}

.form-inner_admin form .signup-link_admin {
    text-align: center;
    margin-top: 30px;
}

.form-inner_admin form .pass-link_admin a,
.form-inner_admin form .signup-link_admin a {
    color: #2563EB;
    text-decoration: none;
}

.form-inner_admin form .pass-link_admin a:hover,
.form-inner_admin form .signup-link_admin a:hover {
    text-decoration: underline;
}

form .btn_admin {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

form .btn_admin .btn-layer_admin {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #0074b4, #3399ff, #0074b4, #3399ff);
    border-radius: 5px;
    transition: all 0.4s ease;
    ;
}

form .btn_admin:hover .btn-layer_admin {
    left: 0;
}

form .btn_admin input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
